# Reseach Topic: Predict Wage with Machline Methods
## What am I doing ?
I have no idea.

## Data
The source is NLSY97. The data set is pre-cleaned by STATA with around 4500 obervations each year from 2. Features include age, year of experience, gender, schooling, race, marital status, industry, region(not yet!!). 

## Run some models
Bofore running anything, we split the data into training set, validation set, test set. <br/> I am preparing to do the following models:
- Linear model (mincer equations)
- Trees and Forests
- Neural Nets

The performences of models will be compared in accuracy and R-square

## Further thoughts
What can we do besides running those well-defined models on a dataset and seeing some results we already know.

# Let's get started :D

In [7]:
import pandas as pd
import numpy as np
import tensorflow as tf
from tensorflow import keras

# turn off warnings a bit
import warnings
warnings.filterwarnings("ignore")

# Pre processing
# inputs_name=['lnwage','sex','race','schooling','year','marital_status','industry','age','exp','exp2','exp3']
dataset = pd.read_excel('./data/mincer.xlsx')

In [8]:
dataset

,lnwage,sex,race,schooling,year,marital_status,industry,age,exp,exp2,exp3
0,3.352357,0,4,15,2005,0,RETAIL TRADE,24,3,9,27
1,3.064792,0,4,15,2006,0,RETAIL TRADE,25,4,16,64
2,3.266522,0,4,15,2007,0,RETAIL TRADE,26,5,25,125
3,3.104138,0,4,15,2008,0,WHOLESALE TRADE,27,6,36,216
4,3.173878,0,4,15,2009,0,WHOLESALE TRADE,28,7,49,343
5,3.113515,0,4,15,2010,0,WHOLESALE TRADE,29,8,64,512
6,3.313094,0,4,15,2011,0,WHOLESALE TRADE,30,9,81,729
7,3.442019,0,4,15,2013,0,NaN,32,11,121,1331
8,4.055084,0,4,15,2015,0,WHOLESALE TRADE,34,13,169,2197
9,3.117950,1,2,15,2005,0,INFORMATION AND COMMUNICATION,23,2,4,8
10,3.922963,1,2,15,2008,0,INFORMATION AND COMMUNICATION,26,5,25,125
11,3.138966,1,2,15,2009,0,PUBLIC ADMINISTRATION,27,6,36,216
12,3.331490,1,2,15,2010,0,PUBLIC ADMINISTRATION,28,7,49,343
13,3.362110,1,2,15,2011,0,PUBLIC ADMINISTRATION,29,8,64,512
14,3.736717,1,2,15,2013,0,NaN,31,10,100,1000
15,3.434632,1,2,15,2015,0,PROFESSIONAL AND RELATED SERVICES,33,12,144,1728
16,2.484907,0,2,13,2009,0,RETAIL TRADE,26,7,49,343
17,2.540814,0,2,13,2005,0,"FINANCE, INSURANCE, AND REAL ESTATE",24,5,25,125
18,2.668616,0,2,14,2006,0,"FINANCE, INSURANCE, AND REAL ESTATE",25,5,25,125
19,2.866762,0,2,14,2007,0,"FINANCE, INSURANCE, AND REAL ESTATE",26,6,36,216
20,2.866762,0,2,14,2008,0,"FINANCE, INSURANCE, AND REAL ESTATE",27,7,49,343
21,2.676903,0,2,14,2009,0,INFORMATION AND COMMUNICATION,28,8,64,512
22,2.702703,0,2,14,2010,0,INFORMATION AND COMMUNICATION,29,9,81,729
23,2.763170,0,2,14,2011,0,INFORMATION AND COMMUNICATION,30,10,100,1000
24,2.602690,0,2,14,2013,0,NaN,32,12,144,1728
25,2.824351,0,2,14,2015,0,"EDUCATIONAL, HEALTH, AND SOCIAL SERVICES",34,14,196,2744
26,2.564949,1,2,10,2005,0,CONSTRUCTION,23,7,49,343
27,3.178054,1,2,10,2006,0,"EDUCATIONAL, HEALTH, AND SOCIAL SERVICES",24,8,64,512
28,2.442347,1,2,10,2007,0,PUBLIC ADMINISTRATION,25,9,81,729
29,2.772589,1,2,10,2008,0,"ENTERTAINMENT, ACCOMODATIONS, AND FOOD SERVICES",26,10,100,1000
...,...,...,...,...,...,...,...,...,...,...,...
41999,2.621039,0,4,9,2006,0,RETAIL TRADE,26,11,121,1331
42000,2.484907,0,4,9,2008,0,RETAIL TRADE,28,13,169,2197
42001,2.542389,0,4,9,2009,0,RETAIL TRADE,29,14,196,2744
42002,2.014903,0,4,9,2011,1,PROFESSIONAL AND RELATED SERVICES,31,16,256,4096
42003,1.981001,0,4,9,2013,1,NaN,33,18,324,5832
42004,2.197225,0,4,9,2015,1,RETAIL TRADE,35,20,400,8000
42005,2.995732,1,4,15,2006,0,ACTIVE DUTY MILITARY,26,5,25,125
42006,3.218876,1,4,16,2007,0,PROFESSIONAL AND RELATED SERVICES,27,5,25,125
42007,3.061988,1,4,17,2008,0,PROFESSIONAL AND RELATED SERVICES,28,5,25,125
42008,3.061988,1,4,18,2009,0,PROFESSIONAL AND RELATED SERVICES,29,5,25,125
42009,3.055415,1,4,19,2010,0,PROFESSIONAL AND RELATED SERVICES,30,5,25,125
42010,3.091043,1,4,20,2011,0,PROFESSIONAL AND RELATED SERVICES,31,5,25,125
42011,2.397895,1,4,15,2005,0,WHOLESALE TRADE,25,4,16,64
42012,2.442347,1,4,15,2006,0,WHOLESALE TRADE,26,5,25,125
42013,2.564949,1,4,15,2007,0,WHOLESALE TRADE,27,6,36,216
42014,2.821379,1,4,15,2008,0,WHOLESALE TRADE,28,7,49,343
42015,2.799109,1,4,15,2009,0,WHOLESALE TRADE,29,8,64,512
42016,2.822569,1,4,15,2010,0,WHOLESALE TRADE,30,9,81,729
42017,2.918311,1,4,15,2011,0,WHOLESALE TRADE,31,10,100,1000
42018,2.970414,1,4,17,2013,0,NaN,33,10,100,1000
42019,2.302585,1,4,18,2015,0,ACS SPECIAL CODES,35,11,121,1331
42020,2.602690,0,4,15,2005,0,PROFESSIONAL AND RELATED SERVICES,23,2,4,8
42021,2.639057,0,4,15,2006,0,PROFESSIONAL AND RELATED SERVICES,24,3,9,27
42022,2.674149,0,4,15,2007,0,PROFESSIONAL AND RELATED SERVICES,25,4,16,64
42023,2.702703,0,4,16,2008,0,PROFESSIONAL AND RELATED SERVICES,26,4,16,64
42024,2.119864,0,4,17,2009,0,"EDUCATIONAL, HEALTH, AND SOCIAL SERVICES",27,4,16,64
42025,2.702703,0,4,18,2010,0,PROFESSIONAL AND RELATED SERVICES,28,4,16,64
42026,2.688528,0,4,19,2011,0,"EDUCATIONAL, HEALTH, AND SOCIAL SERVICES",29,4,16,64
42027,2.772589,0,4,19,2013,0,NaN,31,6,36,216
42028,3.044523,0,4,19,2015,1,PROFESSIONAL AND RELATED SERVICES,33,8,64,512

# Model 1: Linear Model (Mincer Equation)

In [ ]:
# Neural Nets