# Reseach Topic: Predict Wage with Machline Methods
## What am I doing ?
I have no idea.

## Data
The source of data is NLSY97. The portal can be accessed from [here](https://www.nlsinfo.org/investigator/pages/search.jsp?s=NLSY97). The data set is pre-cleaned by STATA with around 4500 obervations each year from 2. Features include age, year of experience, gender, schooling, race, marital status, industry, region(not yet!!). 

## Run some models
Bofore running anything, we split the data into training set, validation set, test set. <br/> I am preparing to do the following models:
- Linear model (mincer equations)
- Trees and Forests
- Neural Nets

The performences of models will be compared in accuracy and R-square

## Further thoughts
What can we do besides running those well-defined models on a dataset and seeing some results we already know.

# Let's get started :D

In [7]:
import pandas as pd
import numpy as np
import tensorflow as tf
from tensorflow import keras

# turn off warnings a bit
import warnings
warnings.filterwarnings("ignore")

# Pre processing
# inputs_name=['lnwage','sex','race','schooling','year','marital_status','industry','age','exp','exp2','exp3']
data_path = './data/mincer.xlsx'

dat = pd.read_excel(data_path)

In [17]:
dat.describe(include="all")

,lnwage,sex,race,schooling,year,marital_status,industry,age,exp,exp2,exp3
count,42029.000000,42029.000000,42029.000000,42029.000000,42029.000000,42029.000000,37060,42029.000000,42029.000000,42029.000000,42029.000000
unique,NaN,NaN,NaN,NaN,NaN,NaN,17,NaN,NaN,NaN,NaN
top,NaN,NaN,NaN,NaN,NaN,NaN,"EDUCATIONAL, HEALTH, AND SOCIAL SERVICES",NaN,NaN,NaN,NaN
freq,NaN,NaN,NaN,NaN,NaN,NaN,7135,NaN,NaN,NaN,NaN
mean,2.580395,0.512551,3.236503,13.450641,2009.240715,0.310524,NaN,27.185919,7.735278,78.878631,943.111423
std,0.659356,0.499848,1.186368,3.255720,3.071767,0.462714,NaN,3.374373,4.364007,80.519327,1470.432569
min,0.029559,0.000000,1.000000,0.000000,2005.000000,0.000000,NaN,21.000000,-3.000000,0.000000,-27.000000
25%,2.197225,0.000000,2.000000,11.000000,2007.000000,0.000000,NaN,25.000000,4.000000,16.000000,64.000000
50%,2.525729,1.000000,4.000000,13.000000,2009.000000,0.000000,NaN,27.000000,7.000000,49.000000,343.000000
75%,2.917771,1.000000,4.000000,16.000000,2011.000000,1.000000,NaN,30.000000,11.000000,121.000000,1331.000000
max,7.090077,1.000000,4.000000,27.000000,2015.000000,1.000000,NaN,35.000000,29.000000,841.000000,24389.000000

# Model 1: Linear Model (Mincer Equation)
It is a panel data regression using random effect model.

In [ ]:
# Neural Nets