## Thesis: Can we predict wage better than mincer equation with statistical learning?

Data: NLSY97 (prepared by stata), panel data 

Models applied: linear model, trees/forest, 

Y: hourly rate of wage 

X: schooling(by year), exp

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import  cross_val_predict
from sklearn.cross_validation import train_test_split
from sklearn import metrics
from sklearn.tree import export_graphviz
from sklearn.ensemble import RandomForestRegressor

path = 'C:/Users/pb061/OneDrive/GraduateThesis/'

data = pd.read_excel(path+'data/temp/mincer.xlsx') 

print(data[data['sex']==1])

C:\Users\pb061\Anaconda3\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

         lnwage  sex  race  schooling  year  marital_status  \
9      3.117950    1     2         15  2005               0
10     3.922963    1     2         15  2008               0
11     3.138966    1     2         15  2009               0
12     3.331490    1     2         15  2010               0
13     3.362110    1     2         15  2011               0
14     3.736717    1     2         15  2013               0
15     3.434632    1     2         15  2015               0
26     2.564949    1     2         10  2005               0
27     3.178054    1     2         10  2006               0
28     2.442347    1     2         10  2007               0
29     2.772589    1     2         10  2008               0
30     2.302585    1     2         10  2009               1
31     3.348148    1     2         10  2010               1
32     4.017464    1     2         10  2011               1
33     3.416086    1     2         10  2013               1
34     3.036394    1     2         10  2015               1
44     1.791759    1     2         10  2005               0
45     2.302585    1     2         10  2006               0
46     2.079442    1     2         10  2009               0
47     2.302585    1     2         10  2010               1
48     2.351375    1     2         10  2015               1
55     2.833213    1     4         14  2005               0
56     2.995732    1     4         14  2006               0
57     3.218876    1     4         14  2007               0
58     2.833213    1     4         14  2008               0
59     2.785011    1     4         15  2009               0
60     2.832036    1     4         16  2010               0
61     2.944439    1     4         16  2011               0
62     2.842581    1     4         16  2013               0
63     2.922624    1     4         16  2015               1
...         ...  ...   ...        ...   ...             ...
41966  3.044523    1     4         22  2013               1
41967  4.767714    1     4         22  2015               1
41968  2.197225    1     4         10  2005               0
41969  2.327278    1     4         10  2006               0
41970  2.828496    1     4         10  2007               0
41971  3.218876    1     4         10  2008               0
41972  3.552200    1     4         10  2009               0
41973  2.841415    1     4         10  2010               0
41974  3.091043    1     4         10  2011               0
41975  3.064792    1     4         10  2013               0
41976  2.302585    1     4         10  2015               0
41995  2.197225    1     4         10  2005               0
41996  2.302585    1     4         11  2006               0
41997  0.756122    1     4         11  2007               0
41998  2.230014    1     4         11  2008               0
42005  2.995732    1     4         15  2006               0
42006  3.218876    1     4         16  2007               0
42007  3.061988    1     4         17  2008               0
42008  3.061988    1     4         18  2009               0
42009  3.055415    1     4         19  2010               0
42010  3.091043    1     4         20  2011               0
42011  2.397895    1     4         15  2005               0
42012  2.442347    1     4         15  2006               0
42013  2.564949    1     4         15  2007               0
42014  2.821379    1     4         15  2008               0
42015  2.799109    1     4         15  2009               0
42016  2.822569    1     4         15  2010               0
42017  2.918311    1     4         15  2011               0
42018  2.970414    1     4         17  2013               0
42019  2.302585    1     4         18  2015               0

                                              industry  age  exp  exp2  exp3
9                        INFORMATION AND COMMUNICATION   23    2     4     8
10                       INFORMATION AND COMMUNICATION   26    5    25   125
11                               PUBLIC ADMINISTRATION   27    6    36   216
12                               PUBLIC ADMINISTRATION   28    7    49   343
13                               PUBLIC ADMINISTRATION   29    8    64   512
14                                                 NaN   31   10   100  1000
15                   PROFESSIONAL AND RELATED SERVICES   33   12   144  1728
26                                        CONSTRUCTION   23    7    49   343
27            EDUCATIONAL, HEALTH, AND SOCIAL SERVICES   24    8    64   512
28                               PUBLIC ADMINISTRATION   25    9    81   729
29     ENTERTAINMENT, ACCOMODATIONS, AND FOOD SERVICES   26   10   100  1000
30     ENTERTAINMENT, ACCOMODATIONS, AND FOOD SERVICES   27   11   121  1331
31                               PUBLIC ADMINISTRATION   28   12   144  1728
32                 FINANCE, INSURANCE, AND REAL ESTATE   29   13   169  2197
33                                                 NaN   31   15   225  3375
34                               PUBLIC ADMINISTRATION   33   17   289  4913
44                                        RETAIL TRADE   22    6    36   216
45                   PROFESSIONAL AND RELATED SERVICES   23    7    49   343
46                      TRANSPORTATION AND WAREHOUSING   26   10   100  1000
47                   PROFESSIONAL AND RELATED SERVICES   27   11   121  1331
48                                                 NaN   32   16   256  4096
55                                        CONSTRUCTION   23    3     9    27
56                                        CONSTRUCTION   24    4    16    64
57                                        CONSTRUCTION   25    5    25   125
58            EDUCATIONAL, HEALTH, AND SOCIAL SERVICES   26    6    36   216
59            EDUCATIONAL, HEALTH, AND SOCIAL SERVICES   27    6    36   216
60            EDUCATIONAL, HEALTH, AND SOCIAL SERVICES   28    6    36   216
61            EDUCATIONAL, HEALTH, AND SOCIAL SERVICES   29    7    49   343
62                                                 NaN   31    9    81   729
63            EDUCATIONAL, HEALTH, AND SOCIAL SERVICES   33   11   121  1331
...                                                ...  ...  ...   ...   ...
41966                                              NaN   33    5    25   125
41967         EDUCATIONAL, HEALTH, AND SOCIAL SERVICES   35    7    49   343
41968         EDUCATIONAL, HEALTH, AND SOCIAL SERVICES   25    9    81   729
41969         EDUCATIONAL, HEALTH, AND SOCIAL SERVICES   26   10   100  1000
41970                   TRANSPORTATION AND WAREHOUSING   27   11   121  1331
41971                   TRANSPORTATION AND WAREHOUSING   28   12   144  1728
41972                   TRANSPORTATION AND WAREHOUSING   29   13   169  2197
41973                   TRANSPORTATION AND WAREHOUSING   30   14   196  2744
41974                   TRANSPORTATION AND WAREHOUSING   31   15   225  3375
41975                                              NaN   33   17   289  4913
41976                   TRANSPORTATION AND WAREHOUSING   35   19   361  6859
41995                PROFESSIONAL AND RELATED SERVICES   22    6    36   216
41996                                     RETAIL TRADE   23    6    36   216
41997  ENTERTAINMENT, ACCOMODATIONS, AND FOOD SERVICES   24    7    49   343
41998                                     RETAIL TRADE   25    8    64   512
42005                             ACTIVE DUTY MILITARY   26    5    25   125
42006                PROFESSIONAL AND RELATED SERVICES   27    5    25   125
42007                PROFESSIONAL AND RELATED SERVICES   28    5    25   125
42008                PROFESSIONAL AND RELATED SERVICES   29    5    25   125
42009                PROFESSIONAL AND RELATED SERVICES   30    5    25   125
42010                PROFESSIONAL AND RELATED SERVICES   31    5    25   125
42011                                  WHOLESALE TRADE   25    4    16    64
42012                                  WHOLESALE TRADE   26    5    25   125
42013                                  WHOLESALE TRADE   27    6    36   216
42014                                  WHOLESALE TRADE   28    7    49   343
42015                                  WHOLESALE TRADE   29    8    64   512
42016                                  WHOLESALE TRADE   30    9    81   729
42017                                  WHOLESALE TRADE   31   10   100  1000
42018                                              NaN   33   10   100  1000
42019                                ACS SPECIAL CODES   35   11   121  1331

[21542 rows x 11 columns]

In [ ]:
print(data.head())
X = np.array(data[['year','sex','schooling','marital_status','exp','exp2']])
y = np.ravel(np.array(data[['lnwage']]))

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)


forest = RandomForestRegressor(n_estimators=1000, 
								max_depth=6,
								random_state=0,
                                n_jobs=4)
forest.fit(X_train,y_train)

In [2]:
pred = forest.predict(X_test)
errors = abs(pred - y_test)
print('Accuracy:', round(100-np.mean(100 * (errors / y_test)), 2), '%.')

Accuracy: 79.03 %.

In [1]:
# print(data[data['year']==2005])

In [10]:
for col in data.columns.values.tolist():
    print(type(data[col])

SyntaxError: unexpected EOF while parsing (<ipython-input-10-cd63c0e06645>, line 2)

## Ideas for next step:
I would like to estimate the return of education of college or master across the years to see that if it's still a good idea for
people to take more year. By estimating the contribution statistics of schooling(k12 excluded), I would draw a chart contribution
for each year.